name: Build Package
on:
  pull_request:
    branches: ["main"]
  push:
    branches:
      - main
      - "releases/*"
  workflow_dispatch:

jobs:
  build-bridge-library:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, ubuntu-arm, macos-latest, macos-arm, windows-latest]
        include:
          - os: ubuntu-latest
            bridge-out-file: libdelta_rs_bridge.so
            out-prefix: linux-x64
            # We use cross to build on x64 for compatibility with older glibc
            use-cross: true
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-arm
            bridge-out-file: libdelta_rs_bridge.so
            out-prefix: linux-arm64
            runsOn: ubuntu-latest
            use-cross: true
            target: aarch64-unknown-linux-gnu
          - os: macos-latest
            bridge-out-file: libdelta_rs_bridge.dylib
            out-prefix: osx-x64
            target: x86_64-apple-darwin
          - os: macos-arm
            bridge-out-file: libdelta_rs_bridge.dylib
            out-prefix: osx-arm64
            runsOn: macos-latest
          - os: windows-latest
            bridge-out-file: delta_rs_bridge.dll
            out-prefix: win-x64
    runs-on: ${{ matrix.runsOn || matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: false

      - name: Checkout specific delta-kernel-rs release
        shell: bash
        run: chmod -R +x .scripts/*.sh && .scripts/checkout-delta-kernel-rs.sh

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2.7.3
        with:
          workspaces: src/DeltaLake/Bridge
          key: ${{ matrix.os }}-bridge

      - name: Compute target variables
        id: target-info
        run: |
          if [ -n "${{ matrix.target }}" ]; then
            echo "target-arg=--target ${{ matrix.target }}" >> $GITHUB_OUTPUT
            echo "bridge-out-path=src/DeltaLake/Bridge/target/${{ matrix.target }}/release/${{ matrix.bridge-out-file }}" >> $GITHUB_OUTPUT
          else
            echo "target-arg=" >> $GITHUB_OUTPUT
            echo "bridge-out-path=src/DeltaLake/Bridge/target/release/${{ matrix.bridge-out-file }}" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Add alternative Rust target
        if: ${{ matrix.target != ''}}
        run: |
          rustup target install ${{ matrix.target }}

      - name: Install cross
        if: ${{ matrix.use-cross }}
        run: |
          cargo install cross

      - name: Build Bridge
        if: ${{ !matrix.use-cross }}
        run: cargo build --manifest-path src/DeltaLake/Bridge/Cargo.toml --release ${{ steps.target-info.outputs.target-arg }}

      - name: Build Bridge with cross
        if: ${{ matrix.use-cross }}
        run: |
          CROSS_CONFIG=src/DeltaLake/Bridge/Cross.toml \
          cross build --manifest-path src/DeltaLake/Bridge/Cargo.toml --release --target ${{ matrix.target }}

      - name: Upload bridge library
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.out-prefix }}-bridge
          path: ${{ steps.target-info.outputs.bridge-out-path }}
          if-no-files-found: "error"

  build-kernel-library:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, ubuntu-arm, macos-latest, macos-arm, windows-latest]
        include:
          - os: ubuntu-latest
            kernel-out-file: libdelta_kernel_ffi.so
            out-prefix: linux-x64
            # We use cross to build on x64 for compatibility with older glibc
            use-cross: true
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-arm
            kernel-out-file: libdelta_kernel_ffi.so
            out-prefix: linux-arm64
            runsOn: ubuntu-latest
            use-cross: true
            target: aarch64-unknown-linux-gnu
          - os: macos-latest
            kernel-out-file: libdelta_kernel_ffi.dylib
            out-prefix: osx-x64
            target: x86_64-apple-darwin
          - os: macos-arm
            kernel-out-file: libdelta_kernel_ffi.dylib
            out-prefix: osx-arm64
            runsOn: macos-latest
          - os: windows-latest
            kernel-out-file: delta_kernel_ffi.dll
            out-prefix: win-x64
    runs-on: ${{ matrix.runsOn || matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: false

      - name: Checkout specific delta-kernel-rs release
        shell: bash
        run: chmod -R +x .scripts/*.sh && .scripts/checkout-delta-kernel-rs.sh

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2.7.3
        with:
          workspaces: src/DeltaLake/Kernel/delta-kernel-rs
          key: ${{ matrix.os }}-kernel

      - name: Compute target variables
        id: target-info
        run: |
          if [ -n "${{ matrix.target }}" ]; then
            echo "target-arg=--target ${{ matrix.target }}" >> $GITHUB_OUTPUT
            echo "kernel-out-path=src/DeltaLake/Kernel/delta-kernel-rs/target/${{ matrix.target }}/release/${{ matrix.kernel-out-file }}" >> $GITHUB_OUTPUT
          else
            echo "target-arg=" >> $GITHUB_OUTPUT
            echo "kernel-out-path=src/DeltaLake/Kernel/delta-kernel-rs/target/release/${{ matrix.kernel-out-file }}" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Add alternative Rust target
        if: ${{ matrix.target != ''}}
        run: |
          rustup target install ${{ matrix.target }}

      - name: Install cross
        if: ${{ matrix.use-cross }}
        run: |
          cargo install cross

      - name: Build Kernel
        if: ${{ !matrix.use-cross }}
        run: cargo build --manifest-path src/DeltaLake/Kernel/delta-kernel-rs/ffi/Cargo.toml --release --no-default-features --features "default-engine-rustls" ${{ steps.target-info.outputs.target-arg }}

      - name: Build Kernel with cross
        if: ${{ matrix.use-cross }}
        run: |
          CROSS_CONFIG=src/DeltaLake/Kernel/Build/Cross.toml \
          cross build --manifest-path src/DeltaLake/Kernel/delta-kernel-rs/ffi/Cargo.toml --release \
                      --no-default-features \
                      --features "default-engine-rustls" \
                      --target ${{ matrix.target }}

      - name: Upload kernel library
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.out-prefix }}-kernel
          path: ${{ steps.target-info.outputs.kernel-out-path }}
          if-no-files-found: "error"

  build-nuget-package:
    needs:
      - build-bridge-library
      - build-kernel-library
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: false

      - name: Checkout specific delta-kernel-rs release
        shell: bash
        run: chmod -R +x .scripts/*.sh && .scripts/checkout-delta-kernel-rs.sh

      - name: Download rust libraries
        uses: actions/download-artifact@v4
        with:
          path: rust-libraries

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Build package
        run: dotnet pack src/DeltaLake/DeltaLake.csproj -c Release `
          --property:RustLibraryRoot=${{ github.workspace }}\rust-libraries `
          --property:KernelLibraryRoot=${{ github.workspace }}\rust-libraries

      - name: Upload NuGet artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuget-package
          path: |
            src/DeltaLake/bin/Release/*.nupkg
            src/DeltaLake/bin/Release/*.snupkg
      - name: Push nuget artifacts
        if: github.ref == 'refs/heads/main'
        run: |
          dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/delta-incubator/index.json"
          dotnet nuget push .\src\DeltaLake\bin\Release\DeltaLake.Net.*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source "github" --skip-duplicate
          dotnet nuget push .\src\DeltaLake\bin\Release\DeltaLake.Net.*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
